@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}

.bt-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .bt-container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .bt-container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .bt-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .bt-container {
    width: 1140px;
  }
}

.mobile_top_description_tab:first-child.tab-active ~ .slider {
  left: 0;
}

.mobile_top_description_tab:nth-child(2).tab-active ~ .slider {
  left: 50%;
}

@media (max-width: 1280px) {
  .show-nav-search-on-small {
    @apply hidden;
  }
}
